<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="MailAdress" value="ornekadres25@gmail.com"/>
    <add key="MailPassword" value="ornekadres2525"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages enableEventValidation="false" validateRequest="false"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BlogDbEntities" connectionString="metadata=res://*/BlogProjectSonDataModel.csdl|res://*/BlogProjectSonDataModel.ssdl|res://*/BlogProjectSonDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMRE-BILG\MSSQL2014;initial catalog=BlogDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>